APNS_KEY_ID=YOUR_KEY_ID
APNS_TEAM_ID=YOUR_TEAM_ID
# Provide ONE of these two:
APNS_KEY_PATH=./AuthKey.p8
# APNS_KEY_BASE64=base64-encoded-contents-of-p8-file
API_KEY=YOUR_SECRET_API_KEY
APNS_ENVIRONMENT=development
